@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

/* --- CLASSES --- */

/*  Images  */

.social-icon {
    width: 26px;
    padding-right: 10px;
}

.profile-image {
    border-radius: 100%;
    padding: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%
}

.bgimg {
    background-image: url(cdn/img/code.bmp);
}

/*  Toolbar  */

.header > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    /*  Frosted Glass Effect */
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 25px;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
}
  
.header > li {
    float: left;
    font-family: 'Poppins', sans-serif;
}
  
.header > li a {
    display: block;
    color: #444;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header > li a:hover {
    font-weight: bold;
}

/*  Links  */

.skills {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
  
.skills > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.skills > li {
    padding-right: 10px;
}

/*  Main  */

.flex-container {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 300px;
    padding-right: 300px; */
    max-width: 700px;
    margin: auto;
}

.skills-container {
    display: flex;
    justify-content: center;
}
  
.skills-container > div {
    background-color: white;
    width: 200px;
    height: 200px;
    margin: 10px;
    text-align: center;
    /* line-height: 200px; */
    padding: 10px;
    font-size: 30px;
    transition: box-shadow .3s;
    transition: box-shadow .5s;
}

.skills-container > div:hover {
    background-color: #fefefe;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    transform: scale(1.1);
}

.discription {
    font-size: 20px;
}

.main-text {
    text-align: center;
}

.main > section {
    padding-bottom: 25px;
}

.hide-link {
    color: black;
    text-decoration: none;
}

/* --- Elements --- */

h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: xx-large;
    text-align: center;
}

h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: x-large;
    text-align: center;
    text-decoration: underline;
}

h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: large;
    text-align: left;
    text-decoration: underline;
}

footer {
    text-align: center;
}
